{% extends 'property/layout.html' %}
{% load static %}

{% block body %}
<div class="container">

    <div class="page-identifier d-none">sale</div>

    <div class="row mt-5">
        <div class="col-xl-8 offset-xl-2 col-sm-12 mt-5">

            <!-- Title -->
            <div class="d-flex justify-content-center">
                <h4>My Sales</h4>
            </div>

            <!-- Bookings -->
            {% if page_obj_number != 0 %}
            <div class="mt-5 d-flex justify-content-between">
                <span>Client:</span>
                <span>Property Unit:</span>
                <span>Date:</span>
            </div>
            <div class="border-top border-dark mt-3">
                {% for obj in page_obj %}
                <a href="/sale/{{ obj.id }}">
                    <div class="border-bottom border-dark d-flex justify-content-between pt-2 pb-2">
                        <span>{{ obj.customer.name }}</span>
                        <span>{{ obj.unit.property.name }} - {{ obj.unit.unit_id }}</span>
                        <span>{{ obj.date }}</span>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div>
                <ul class="pagination d-flex justify-content-around mt-5">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link btn typical-btn pl-4 pr-4" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link btn typical-btn pl-4 pr-4" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </div>
            {% else %}
            <div class="d-flex mt-5">
                <div class="col-xl-6 col-sm-12">
                    <img src="{% static 'property/image/booking.svg' %}" alt="booking" class="img-fluid">
                </div>
                <div class="col-xl-6 col-sm-12 mt-5 justify-content-center d-flex">
                    <div>
                        <p>You have not made any sale yet. Work harder!</p>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}